@keyframes fadeInLight {
    0% {
        opacity: 0.3;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeInThinLight {
    0% {
        opacity: 0.5;
    }

    100% {
        opacity: 0.1;
    }
}

@keyframes move {
    100% {
        stroke-dashoffset: 0;
    }
}

@keyframes arrowSlide {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(60%);
    }
}

@keyframes download {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.4);
    }
}

:root {
    --animate-duration: 1s;
    --animate-delay: 1s;
    --animate-repeat: 1;
}

.preanimate {
    opacity: 0;
}

.animate {
    animation-duration: 1s;
    animation-duration: var(--animate-duration);
    animation-fill-mode: both;

    &-move {
        animation-name: move;
    }

    &-arrowSlide {
        &:hover {
            .a-icon {
                animation: arrowSlide 0.75s ease infinite alternate;
            }
        }
    }

    &-download {
        &:hover {
            .a-icon {
                animation: download 0.75s ease infinite alternate;
            }
        }
    }

}
