// Text Colors
$white: rgb(255, 255, 255); // #ffffff
$black: rgb(0, 0, 0); // #000000
$dark-tangerine: rgb(243, 174, 11); //#f3ae0b
$gainsboro: rgb(223, 223, 223); //#dfdfdf
$columbia-blue: rgb(198,225,238); //#c6e1ee
$queen-pink: rgb(238,198,221); //#eec6dd
$dim-gray: rgb(108, 108, 108); // #6c6c6c
$arsenic: rgb(67, 67, 67); // #434343
$gray-x11: rgb(191, 191, 191); // #bfbfbf
$cool-black: rgb(0, 43, 96); //#003366
$taupe-gray: rgb(140, 140, 140); //#8C8C8C
$sinopia: rgb(206, 49, 0); // #ce3100
$may-green: rgb(95, 158, 69); // #5F9E45
$snow: rgb(252, 249, 247); //#FCF9F7
$deep-space-sparkle: rgb(51, 96, 101);//#336065
$dark-liver: rgb(79, 79, 79); // #4f4f4f
// Overlays

// Linears
