.p-home {
  margin-top: 5%;
  &_list {
    @include adjust-flex();
    width: 100%;
    column-gap: rem(10);
    .o-cardDivision {
      min-width: 20%;
    }
  }
}
.button-group {
  @include adjust-flex();
  column-gap: rem(10);
  flex-wrap: wrap;
  .a-button {
    margin: 0 0 rem(5);
  }
}
